body {
    display: flex;
    justify-content: center;
    padding: 20px;
}
main {
    margin: auto 150px;
    width: 100%;
    height: 350px;
    text-align: left;

}
.Sedans {
    height: 100%;
    padding: 20px;
    background-color: hsl(31, 77%, 52%);
    margin-bottom: 30px;
    border-radius: 20px 0px 0px 20px;
}
.SUV {
    height: 100%;
    padding: 20px;
    background-color: hsl(184, 100%, 22%);
    margin-bottom: 30px;
}
.Luxury {
    height: 100%;
    padding: 20px;
    background-color: hsl(179, 100%, 13%);
    margin-bottom: 30px;
    border-radius: 0px 20px 20px 0px;
}
.attribution {
    text-align: center;
}
h1 {
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    color: #fff;
}
p {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    opacity: 0.5;
    color: #fff;
}
.button {
    margin-left: 50px;
    border-radius: 25px;
    height: 50px;
    width: 160px;
    font-size: 20px;
}

.button:hover {
    color: #fff;
    background-color: inherit;
    border-color: #fff;
}